header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 50px;
    background: black;
    color: #f9f8f8;
    overflow: hidden;
    position:absolute;
    width: 100%;
}

 
  
.header-icon {
    Display: flex;
    Align-items: center;
    Margin-right: auto;
}
  
  Nav ul {
    Display: flex;
    Align-items: center;
    Margin: 0;
    List-style: none;
    padding-left: 300px;
  }
  
  Nav li {
    font-weight: bold;
    font-size: 16px;
    Margin-right: 20px;
  }
  
  Nav a {
    Text-decoration: none;
    Color: rgb(250, 250, 250);
    Transition: all 0.3s ease;
  }
  
  Nav a:hover {
    Color:rgb(228, 182, 15);
  }

  .bi {
    position: absolute;
    top: calc(37%);
    align-items: center;
    top: auto;
    left: 16.05rem;
  }

section {
    background: white;
    display: flex;
    flex-direction: wrap;
    padding: 0px;
    width: 100%;
    
}

  .section-content {
    background: white;
    color: black;
    width: 97%;
    padding-bottom: 50px;
    }
   .section-content .section-banner img {
      padding: 20px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain;
      width: 103%;
      margin-top: 90px;
   }
  #h1:hover {
      content: url("pic/1.png");
     
  }
 

    .row {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
    }
    .row-1 {
      padding-left: 50px;
      display: flex;
      flex-wrap: wrap;
      margin: -20px;
      }
    .column a {
      color: black;
      text-align: center;
      padding-left: 70px;
      padding-top: 0px;
      overflow: none;
    }
    .column a:hover {
      color: rgb(228, 182, 15);
      text-decoration-color: black;
    }
    .column {
    flex: 20%;
    margin-bottom: 30px;
    }
    .column-1 {
      flex: 20%;
      margin-bottom: 30px;
      }

    .column p {
      text-align: center;
      width: 300px;
      }
    
    .column img {
    image-resolution: 1200px;
    border: 2px solid rgb(228, 182, 15) ;
    width: 300px;
    height: 300px;
    cursor: pointer;
    margin-bottom: 10px;
    
    }

    .uui-space-small-5 {
      width: 100%;
      min-height: 1.5rem;
  }

  .uui-button-link-4 {
    grid-column-gap: .5rem;
    color: #6941c6;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
}
.text-block-54, .text-block-55, .text-block-56, .text-block-57, .text-block-58, .text-block-59, .text-block-60, .text-block-61, .text-block-62 {
  color: #425e85;
}

    .pic1:hover{
      border: 0px;
  }

  
 

    .column-1 img {
      image-resolution: 1200px;
      border: 2px solid rgb(228, 182, 15) ;
      width: 500px;
      height: 300px;
      margin-left: 100px;
      cursor: pointer;
      }
    
    .column p {
    text-align: left;
    margin: 5px;
    }

    .p{
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
    }

    .p2{
      text-align: center;
      margin-top: 10px;
      font-size: 20px;
      padding-right: 20px;
    }

    .img{
      height: 260px;
      width: 350px;
    }

    .img:hover{
      background-color: #161616;
    }

    .img:hover {
      content: url("pic/Preview.png");
     
  }



    .btn-more {
      width: 150px;
    height: 50px;
    margin-top: 0px;
    margin-right: 0px;
    border: none;
    border-radius: 17px 
      
  }
  
  .btn-more:hover{
      background-color: indianred;
      color: black;
  }

  .footer {
    border-top: 1px solid whitesmoke;
      background: rgb(240, 196, 34);
      color: black;
      height: 360px;  
      position:relative; 
      padding: 10px;
      margin-left: auto;
  }
  
  .footer .footer-content {
      
      height: 250px;
      display: flex;
  }
  
  .footer .footer-content .footer-section {
      flex: 1;
      padding: 20px;
  }
  
  .footer .footer-content .footer-section .conditions ul {
      list-style: none;
      text-align: center;
  }
  
  .footer a {
      color: #d3d3d3;
      font-size: 20px;
  }
  
  .footer .footer-content h1,
  .footer .footer-content h5 {
      color: black;
  }
  
  .footer .footer-bottom {
      background: #1b1e21;
      color: rgb(169, 169, 169);
      height: 50px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left:0px;
      padding-top: 20px;
  }
  
  ul.social-network {
      list-style: none;
      display: inline;
      margin-left: 0 !important;
      padding: 0;
    }
    
    ul.social-network li {
      display: inline;
      margin: 0 5px;
    }
    
    
    /* footer social icons */
    
    .social-network a.icoFacebook:hover {
      background-color: #3B5998;
    }
    .social-network a.icoLGmail:hover {
      background-color: #2082d8;
    }
    .social-network a.icoInstagram:hover {
      background-color: #e42886;
    }
  
    .social-network a.icoFacebook:hover i,
    .social-network a.icoLGmail:hover i,
    .social-network a.icoInstagram:hover i {
      color: #fff;
    }
    
    .social-network a.socialIcon:hover,
    .socialHoverClass {
      color: #44BCDD;
    }
    
    .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 30px;
      height: 30px;
      font-size: 15px;
    }
    
    .social-circle li i {
      margin: 0;
      line-height: 30px;
      text-align: center;
    }
    
    .social-circle li a:hover i,
    .triggeredHover {
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -ms--transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -ms-transition: all 0.2s;
      transition: all 0.2s;
    }
    
    .social-circle i {
      color: black;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -ms-transition: all 0.8s;
      transition: all 0.8s;
    }
    
    .social-network a {
      background-color: #F9F9F9;
    }
   
    .footer .footer-content .contact-form .contact-input {
      background: black;
      color: #bebdbd;
      margin: 5px;
      line-height: 1.2rem;
      padding: .6rem 1.3rem;
  
    }


/*left side vblog stykle start*/
.blog_left__div h1 {
  font-family: var(--title);
  font-weight: bold;
  font-size: 2rem;
}

.blog_left__div .blog_title {
  font-weight: 400;
  font-size: 2.2rem;
}

.blog_left__div .blog_title span {
  color: #1b262c;
}

.blog_left__div p span {
  color: #1b262c;
}

.left_div_btns {
  margin-top: 3rem;
  transition: var(--eff);
}

.left_div__like {
  color: var(--btn-font-color);
  /*border-width: .2rem;*/
  font-size: var(--btn-font);
  transition: var(--eff);
  padding: .8rem 2rem;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  font-family: var(--title);
  outline: none;
  border: none;
}

.left_div__reply {
  color: var(--btn-font-color);
  /*border-width: .2rem;*/
  font-size: var(--btn-font);
  transition: var(--eff);
  padding: .8rem 2rem;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  font-family: var(--title);
  outline: none;
  border: none;
}

.replies {
  margin: 2rem 0;
  padding: 1rem 0;
  transition: var(--eff);
  display: none;
}

.thapa_show {
  margin: 20px 0;
  transition: var(--eff);
  display: block;
}

.card {
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  margin-bottom: 50px;
  margin-top: 25px;
}


div.banner-image{
  background-image: url(pic/d8.jpg);
  background-color: rgb(58, 55, 55);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 150px;
}
section#banner{
  height: calc(100vh-50px);
}
.banner-image h2
{
  color: white;
  font-size: 3.8em;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.banner-image h4
{
  color: white;
  font-size: 3.5em;
}

.banner-image h4 span
{
  color: pink;
  font-size: 1.5em;
}
.banner-image p{
  color: white;
  font-size: 3.8em;
  font-weight: 700;
}
.banner-image p span{
  color: rgb(216, 79,5);
}
.btn-order {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  margin-right: 500px;
  border: none;
  border-radius: 17px 
  
}

.btn-order:hover{
  background-color: indianred;
  color: black;
}


.featured-image h2 {
  color: indianred;
  font-size: 35px;
  font-weight: bold;
  padding: 50px;
  text-align: center;
}

.pic{
  height:450px;
  width: 350px;
  margin:20px;
  background-size: cover;
  display: flex  ;
  align-items: center;
}
.banner-1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}


#row{
  background-color: lightseagreen ;
}
.img-fluid {
  max-width: 100%;
  height: 310px;
  margin-right: 5px;

}